absl-py==1.4.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.1.0
assemblyai==0.15.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
autopep8==2.0.2
backcall==0.2.0
backoff==1.11.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.12.0
bleach==4.1.0
blinker==1.5
branca==0.4.2
bs4==0.0.1
cachetools==5.3.0
certifi==2023.11.17
cffi==1.14.6
charset-normalizer==2.0.5
click==8.0.1
cmdstanpy==1.2.0
colorama==0.4.4
colorgram.py==1.2.0
comtypes==1.1.10
contourpy==1.0.7
cryptography==39.0.1
cvzone==1.6.1
cycler==0.10.0
Cython==3.0.8
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
dm-tree==0.1.8
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
filelock==3.0.12
Flask==2.0.1
flatbuffers==23.5.26
folium==0.12.1
fonttools==4.39.4
frozendict==2.3.7
frozenlist==1.3.3
gast==0.5.4
gensound==0.5.3
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.60.0
gTTS==2.2.3
h11==0.14.0
h5py==3.10.0
heroes==1.0.2
holidays==0.41
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
idna==3.2
importlib-metadata==6.1.0
importlib-resources==5.12.0
imutils==0.5.4
inflection==0.5.1
instaloader==4.9.6
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
iso8601==1.1.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
keras==2.15.0
kiwisolver==1.3.1
libclang==16.0.6
lxml==4.9.2
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.0.1
matplotlib==3.7.1
matplotlib-inline==0.1.2
mdurl==0.1.2
mediapipe==0.10.3
mistune==0.8.4
ml-dtypes==0.2.0
more-itertools==10.2.0
mouse==0.7.1
MouseInfo==0.1.3
multidict==6.0.4
multitasking==0.0.11
namex==0.0.7
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.8.1
notebook==6.4.3
numpy==1.26.3
oauthlib==3.2.2
opencage==2.0.0
opencv-contrib-python==4.8.0.76
opencv-python==4.9.0.80
openpyxl==3.0.8
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.1
panda==0.3.1
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.4.3
parso==0.8.2
passlib==1.7.4
patsy==0.5.3
peewee==3.17.5
phonenumbers==8.12.33
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.3.0
playsound==1.3.0
plotly==5.13.1
plyer==2.0.0
prettytable==3.7.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
prophet==1.1.5
protobuf==3.20.3
PuLP==2.7.0
pushbullet.py==0.12.0
pyarrow==11.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.20
pycryptodomex==3.17
pydantic==2.1.1
pydantic_core==2.4.0
pydeck==0.8.0
pydub==0.25.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.14.0
PyJWT==2.8.0
Pympler==1.0.1
PyMsgBox==1.0.9
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.27
pyseto==1.7.1
pyshorteners==1.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-magic==0.4.27
pyttsx3==2.90
PyTweening==1.0.3
pytz==2023.2
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4
pywin32==301
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.2.1
qrcode==7.4.2
qtconsole==5.1.1
QtPy==1.11.0
Quandl==3.7.0
radian==0.6.8
rchitect==0.4.4
regex==2022.10.31
replit==3.2.5
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.3.3
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
selenium==4.16.0
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.0
setuptools-rust==1.8.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.13
stanio==0.3.0
statsmodels==0.14.0
streamlit==1.20.0
tenacity==8.2.2
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.11.1
testpath==0.5.0
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.64.1
traitlets==5.1.0
trio==0.23.1
trio-websocket==0.11.1
twilio==8.10.3
typing_extensions==4.12.1
tzdata==2023.2
tzlocal==4.3
urllib3==1.26.6
validators==0.20.0
virtualenv==20.7.2
watchdog==3.0.0
wavio==0.0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
yarl==1.8.2
yfinance==0.2.40
zipp==3.15.0
